* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .calc-container,
    .history-container,
    .plot-container {
        width: 100%;
    }

    .left-container {
        order: 1;
    }

    .right-container {
        order: 2;
    }
}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 2em;
}

.left-container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.calc-container, .history-container, .plot-container {
    background: #fff;
    padding: 22px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 488px;
}

.history-container{
    min-height: 248px;
}

#display-box {
    margin-bottom: 15px;
}

.plot-container{
    min-height: 662px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 22px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: right;
}

.buttons {
    display: flex;
    gap: 10px;
}

/* Layout */
#left, #mid, #right {
    display: grid;
    gap: 6px;
}

#left {
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
}

#mid {
    grid-template-columns: repeat(4, 1fr);
    flex: 2;
}

#right {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Base button */
button {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Default button (scientific & misc) */
#left button,
#mid button,
#right button {
    background: #e6e6e6;
    color: #333;
}

/* Angka */
#mid button:nth-child(5),
#mid button:nth-child(6),
#mid button:nth-child(7),
#mid button:nth-child(9),
#mid button:nth-child(10),
#mid button:nth-child(11),
#mid button:nth-child(13),
#mid button:nth-child(14),
#mid button:nth-child(15),
#mid button:nth-child(17) {
    background: #fff;
    border: 1px solid #ccc;
}

/* Operator (+, -, *, /) */
#mid button:nth-child(8),
#mid button:nth-child(12),
#mid button:nth-child(16),
#mid button:nth-child(20) {
    background: rgb(60, 60, 254);
    color: white;
}

/* Equals button (=) */
#mid button:nth-child(19) {
    background: rgb(16, 141, 16);
    color: white;
}

/* Clear & Delete */
#right button {
    background: rgb(240, 63, 63);
    color: white;
}
